header{
    display: flex;
    background-color: rgb(1, 7, 50);
    justify-content: center;
}
body{
    background-image: url(../img/joueurs.jpg);
}
p{
    color: rgb(255, 255, 255);
    font-size: 2vw; 
}
h1{
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-around;
}
a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw; 
}
h2{
    display: flex;
    justify-content: center;
    color: rgb(127, 117, 7);
    margin-top: 15vw;    
    font-size: 10vw;
}